// Color

$color_black: black;
$color_white: white;

$color_sign_in: #66433c;
$color_sign_up: #68ca50;

$color_green: #24b273;
$color_light_green: #2dea8f;
$color_dark_cyam: #167a8b;

$color_greeny_13: #0a250d;
$color_greeny_25: #19491f;
$color_greeny_38: #2f6c37;
$color_greeny_50: #4a8c52;
$color_greeny_63: #6cac74;
$color_greeny_75: #95c99c;
$color_greeny_88: #c6e5ca;

// Background
$bg_lemon_chifon: #f7ffe5;
$bg_whispering_green: #f9fff2;
